{% extends 'base.html' %}
{% load static %}


{% block title %}Начало игры{% endblock %}

{% block css %}<link rel="stylesheet" href="{% static 'css/start.css' %}" />{% endblock %}

{% block new-game %}{% endblock new-game %}

{% block world-title %}🚀 Добро пожаловать в игру "Малыш и волшебные буквы"!{% endblock %}

{% block worlds %}
    <div class="box">
        <h1>🅰 Letter Game</h1>
        <p>Нажми кнопку, чтобы начать</p>

        <form method="post">
            {% csrf_token %}
            <button type="submit">▶ START</button>
        </form>
    </div>
{% endblock worlds %}