{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        {% block css %}
            <link rel="stylesheet" href="{% static 'css/style.css' %}" />
            {% endblock css %}
        <title>
          {% block title %}
            Мир {{ world_number }}
            Малыш и волшебные буквы
          {% endblock title%}
        </title>
    </head>
    <body>
        {% block new-game %}
            <form action="{% url 'game:reset_game' %}" method="post">
                {% csrf_token %}
                <button type="submit">🔄 Новая игра</button>
            </form>
        {% endblock new-game %}
        <h1>{% block world-title %}🍭 Малыш и буквы - Мир {{ world_number }}{% endblock world-title %}</h1> 
            
        {% block worlds %}
            <div id="baby">👶</div>
            <p>Счёт: {{ count }} | Жизни: {{ lives }} | Время: <span id="time">5</span></p>

            <div id="game" data-miss-url="{% url 'game:miss_letter' %}" 
                style="width:100%;height:250px;border:2px solid black;position:relative;overflow:hidden;">
            
                {% for l in letters %}
                    <span class="letter"
                        style="position:absolute;font-size:32px;cursor:pointer;">
                        {{ l }}
                    </span>
                {% endfor %}
            </div>
        {% endblock worlds%}

        {% block script %}
            <script src="{% static 'js/game.js' %}"></script>
        {% endblock %}
    </body>
</html>
