{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        {% block css %}<link rel="stylesheet" href="{% static 'css/base.css' %}"/>{% endblock css %}
        <title>{% block title %}Мир {{ world }}{% endblock title%}</title>
    </head>
    <body>
        {% block new-game %}
            <form action="{% url 'game:reset_game' %}" method="post">
                {% csrf_token %}
                <button type="submit">🔄 Новая игра</button>
            </form>
        {% endblock new-game %}

        <h1>{% block world-title %}Мир {{ world }}{% endblock world-title %}</h1> 
            
        {% block worlds %}
            <p>Счёт: {{ count }} | Жизни: {{ lives }} | Время: <span id="time">5</span></p>

            <div id="game" data-miss-url="{% url 'game:miss_letter' %}">
                {% for l in letters %}
                    <span class="game-letter letter">{{ l }}</span>
                {% endfor %}
            </div>
        {% endblock worlds%}

        {% block script %}
            <script src="{% static 'js/game.js' %}"></script>
        {% endblock %}
    </body>
</html>
