body {
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
}

.box {
    text-align: center;
}

button {
    font-size: 24px;
    padding: 15px 40px;
    cursor: pointer;
}